body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.carousel-content {
  padding: 10px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-flex-item-align: start;
  align-self: flex-start;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 0;
}

.carousel-list {
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  padding: 0px;
}

.previewer {
  user-select: none;
  margin: 5px 10px;
  &:hover {
    opacity: 0.9;
  }
  &_ {
    &selected {
      box-shadow: 0 0 5px 5px rgba(0, 170, 255, 0.3);
    }
    &blank {
      box-sizing: border-box;
      border: dashed 5px rgba(0, 0, 0, 1);
      vertical-align: bottom;
      &::after {
        display: inline;
        width: 100%;
        content: '+';
        text-align: center;
        font-size: 141px;
        font-weight: 100;
        font-family: sans-serif;
        position: absolute;
      }
    }
  }
  &__ {
    &btn {
      display: none;
      position: absolute;
      border: none;
      border-radius: 50%;
      z-index: 2;
      cursor: pointer;
      outline: none;
      user-select: none;
      .previewer_selected:hover & {
        display: block;
      }
      &_ {
        &delete {
          top: -10px;
          right: -10px;
          width: 22px;
          height: 22px;
          background: #ff0000;
          color: #ffffff;
          &:hover {
            background: #df0000;
          }
          &:active {
            background: #a00000;
          }
        }
        &arrow {
          width: 50px;
          height: 50px;
          top: calc(50% - 25px);
          background: rgba(30, 30, 30, 0.3);
          color: #eeeeee;
          font-size: 43px;
          font-weight: 900;
          &:hover {
            background: rgba(30, 30, 30, 0.6);
          }
          &:active {
            background: rgba(30, 30, 30, 0.9);
          }
          &-left {
            left: -25px;
          }
          &-right {
            right: -25px;
          }
        }
      }
    }
  }
}

.form {
  margin: 20px 0px;
  max-width: 400px;
  padding: 15px;
  font-size: 16px;
  user-select: none;
  &__ {
    &input {
      display: block;
      width: 100%;
      padding: 8px;
      border: solid 2px #adadad;
      border-radius: 3px;
      margin: 15px 0px;
      box-sizing: border-box;
      resize: vertical;
    }
    &file {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 10px;
      margin: -15px 0;
    }
    &color {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      margin: 15px 0px;
      gap: 15px;
      width: 100%;
      &-input {
        width: 100%;
        box-sizing: border-box;
        height: 40px;
      }
    }
    &btn {
      display: block;
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: #0af;
      color: #fff;
      border: none;
      padding: 10px;
      margin: 15px 0px;
      font-size: inherit;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #009cf0;
      }
      &:active {
        background-color: #008ee0;
      }
      &_ {
        &delete {
          background-color: #ef0000;
          &:hover {
            background-color: #df0000;
          }
          &:active {
            background-color: #cf0000;
          }
        }
      }
    }
  }
}
